# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Docker
*.pid
docker-compose.override.yml
docker-compose.yml
.dockerignore
dist/
build/

# Angular build output
/frontend/dist/
/frontend/out-tsc/
/frontend/.angular/
/frontend/.cache/

# Backend specific
/backend/dist/
/backend/.cache/

# Worker specific
/worker/dist/
/worker/.cache/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
